@import '../../../colors';

.selection {
	padding: 15px;
	color: $md-grey-100;
	background: rgba(33, 33, 33, .9);
	box-sizing: border-box;
	position: fixed;
	bottom: 100px;
	left: 0;
	width: 100%;
	min-height: 50px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
	border-bottom: 1px solid $md-grey-800;
}

.combine-songs-btn {
	width: 150px;

	button {
		border: none;
		color: $md-grey-900;
		background-color: $md-blue-a200;
		letter-spacing: 2px;
		text-transform: uppercase;
		border-radius: 5px;
		cursor: pointer;
	}
}

.songs-list {
	line-height: 30px;
	padding: 10px 0px;
}

.selection,
.combine-songs-btn {
	font-size: 16px;
}