:host {
	margin-left: 240px;
	width: 100%;
	padding: 20px;
	overflow-y: scroll;
}

.song {
	cursor: default;
	padding: 5px;
}

table {
	font-size: 13px;
	width: 100%;
	min-width: 1000px;
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: #ECEFF1;
}

td {
	padding: 10px;
}

