:host {
	font-size: 13px;
	display: block;
	user-select: none;
	cursor: default;

	&:nth-child(even) {
		background: #EEE;
	}
}

.active {
	background: #E1BEE7;
}

.song {
	padding: 10px;
	min-width: 1000px;
	height: 15px;

	div {
		float: left;
		width: 25%;
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:last-child {
			text-align: right;
		}
	}
}