<div
  [id]="song.id"
  draggable="true"
  class="song color-grey-100"
  (click)="selectSong(song)"
  (dblclick)="playSong(song)"
  (dragstart)="dragStart($event)"
  [ngClass]="{'active': active}">

  <div class="song-index color-grey-200">
    <span *ngIf="!playing">{{ index + 1 }}.</span>
    <span *ngIf="playing"><i class="fa fa-play"></i></span>
  </div>
  <div class="song-info-container">
    <div class="song-title">
      <span>{{ song.title }}</span><span class="song-duration color-grey-400">{{ songsService.formatTime(song.duration) }}</span>
    </div>
    <div class="song-info color-grey-400">
      <span><strong>{{ song.artist }}</strong></span>
      <span *ngIf="song.album"> - {{ song.album }}</span>
    </div>
  </div>
  <div class="delete-song-icon">
    <i (click)="deleteSong(song)" class="fa fa-minus-circle"></i>
  </div>
</div>
<div
  [ngClass]="{'drop-zone-active': activeDropZoneBelow}"
  class="drop-zone" (dragover)="dragOverBelow($event)" (dragleave)="dragLeaveBelow($event)" (drop)="drop($event)"></div>