:host {
	font-size: 13px;
	display: block;
	user-select: none;
	cursor: default;
}

.active {
	background-color: rgba(0, 0, 0, .6);
}

.song {
	padding: 10px;
	display: flex;
}

.song-title,
.song-info {
	padding: 5px;
}

.song-index {
	font-size: 12px;
	padding: 10px 15px;
}

.song-title {
	font-size: 18px;
}

.song-info {
	font-size: 12px;
	flex-grow: 1;
}

.fa.fa-circle {
	font-size: 5px;
	padding: 0px 5px;
}