@import '../../../colors';

:host {
	font-size: 13px;
	display: block;
	user-select: none;
	cursor: default;
}

.delete-song-icon {
	display: none;
}

.active {
	background-color: rgba(0, 0, 0, .6);

	.delete-song-icon {
		display: block;
		position: relative;

		i.fa.fa-minus-circle {
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
		}
	}
}

.song {
	padding: 10px;
	display: flex;
	color: $md-grey-100;

	&:hover {
		@extend .active;
	}
}

.song-title,
.song-info {
	padding: 5px;
}

.song-index {
	color: $md-grey-200;
	width: 30px;
	font-size: 12px;
	padding: 10px 15px;
}

.song-title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
}

.song-duration,
.song-info {
	color: $md-grey-400;
	font-size: 12px;
}

.song-info {
	flex-grow: 1;
}

.song-info-container {
	padding-right: 50px;
	width: 100%;
}

.fa.fa-circle {
	font-size: 5px;
	padding: 0px 5px;
}

.drop-zone {
	height: 20px;
}

.drop-zone-active {
	border-radius: 5px;
	border: 3px dotted $md-green-a200;
	height: 14px;
}

.fa.fa-play {
	color: $md-green-a200;
}