<div [hidden]="deleted">
  <!-- Only show the above dropzone on the first song in a playlist -->
  <div *ngIf="index === 0" [ngClass]="{'drop-zone-active': activeDropZoneAbove}" class="drop-zone" (dragover)="dragOverAbove($event)"
    (dragleave)="dragLeaveAbove($event)" (drop)="dropAbove($event)"></div>

  <div [id]="song.id" [draggable]="isDraggable()" class="song" (click)="selectSong(song)" (dblclick)="playSong(song)"
    (dragstart)="dragStart($event)" [ngClass]="{'active': active, 'playing': playing}">

    <div class="song-index">
      <span>{{ index + 1 }}.</span>
    </div>
    <div class="song-info-container">
      <div class="song-title">
        <span>{{ song.title }}</span>
        <span class="song-duration">{{ songsService.formatTime(song.duration) }}</span>
      </div>
      <div class="song-info">
        <span>
          <strong>{{ song.artist }}</strong>
        </span>
        <span *ngIf="song.album"> - {{ song.album }}</span>
      </div>
    </div>
    <div class="delete-song-icon">
      <i (click)="deleteSong(song)" class="fa fa-minus-circle"></i>
    </div>
  </div>

  <div [ngClass]="{'drop-zone-active': activeDropZoneBelow}" class="drop-zone" (dragover)="dragOverBelow($event)" (dragleave)="dragLeaveBelow($event)"
    (drop)="dropBelow($event)"></div>
</div>
