@import '../../../colors';

.container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background: linear-gradient($md-blue-900, $md-black);
}

.main {
	margin-left: 240px;
	width: 100%;
	padding: 20px;
}