.selection {
	position: fixed;
	bottom: 80px;
	left: 0;
	width: 100%;
	min-height: 20px;
	padding: 15px;
	font-size: 16px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 80px;
	width: 100%;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.controls-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 100%;
}

.controls {
	user-select: none;

	.next, .back, .play, .pause {
		font-size: 1.5em;
		padding: 0px 20px;
		cursor: pointer;

		&:hover {
			font-weight: bold;
		}
	}
}