<div class="main color-grey-50 bg-grey-900">
  <div class="current-song">
    <div *ngIf="currSong">
      <div>
        <img [src]="currImgSrc" alt="">
      </div>
      <div>
        <p class="title color-grey-50">{{ currSong.title }}</p>
        <p class="artist color-grey-400">
          <span *ngIf="currSong.artist">{{ currSong.artist }}</span>
          <span *ngIf="!currSong.artist">&nbsp;</span>
        </p>
      </div>
    </div>
  </div>
  <div class="controls-box">
    <div class="controls-container">
      <div class="controls">
        <span>
          <i (click)="shuffleSongs()" [ngClass]="{'color-green-a200': isShuffled}" class="fa fa-random"></i>
        </span>
        <span>
          <i (click)="playPrevSong()" class="fa fa-step-backward"></i>
        </span>
        <span *ngIf="isPlaying === false">
          <i (click)="playSong()" class="fa fa-play">
          </i>
        </span>
        <span *ngIf="isPlaying === true">
          <i (click)="pauseSong()" class="fa fa-pause"></i>
        </span>
        <span>
          <i (click)="playNextSong()" class="fa fa-step-forward"></i>
        </span>
        <span>
          <i class="fa fa-repeat"></i>
        </span>
      </div>
    </div>
    <div class="progress-bar color-grey-600">
      <span class="time">{{ songsService.formatTime(currTime) }}</span>
      <input (input)="seekProgressBar($event)" type="range" [value]="currTime" [max]="duration">
      <span class="time">{{ songsService.formatTime(duration) }}</span>
    </div>
  </div>
  <div class="volume">
    <!-- Future home of volume controls? -->
  </div>
</div>