@import '../../../colors';

:host {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	padding: 30px;
	font-size: 14px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	background-color: rgba(0, 0, 0, .6);
}

#logo {
	margin-bottom: 20px;
}

#libraryLink {
	cursor: pointer;
}

#libraryLink,
input {
	color: $md-grey-50;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
}

li {
	padding: 10px 0;
}

input {
	width: 100%;
	margin: 20px 0;
	background: none;
	border: none;
	border-bottom: 1px solid $md-grey-800;
	box-shadow: none;
	padding-bottom: 10px;
	font-size: 14px;
	transition: border-bottom-color .2s ease-in-out;

	&:focus {
		outline: none;
		border-bottom-color: $md-grey-700;
	}
}

.playlist-name {
	&:hover {
		font-weight: bold;
	}
}