:host {
	position: absolute;
	height: 100%;
	width: 200px;
	padding: 20px;;
	box-shadow: -28px 5px 10px 30px rgba(189,189,189,1);
}

li {
	padding: 10px 0;
}

input {
	background: none;
	border: none;
	border-bottom: 1px solid #d0d0d0;
	box-shadow: none;
	padding-bottom: 5px;
	font-size: 16px;
	margin-right: 10px;

	&:focus {
		outline: none;
	}
}

.playlist-name {
	cursor: pointer;

	&:hover {
		font-weight: bold;
	}
}