@import '../node_modules/material-colors/dist/colors.css';

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: 0;
  height: 1px;
  background: #424242;
}

ul {
	list-style: none;
	padding: 0;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

