:host, .add-songs-link {
	cursor: pointer;
}

.add-songs-link {
	font-weight: lighter;
	font-style: italic;
	font-size: 10px;
	text-align: right;
	margin-top: 5px;
	padding-top: 3px;
	text-transform: uppercase;
	border-top: 1px solid #424242;
}